main {
  max-width: 1200px;
  margin: 60px auto 75px auto;
}

h1 {
  font-size: 1.4em;
  text-decoration: underline;
}

h2 {
  font-size: 1.25em;
}

.aero-h2 {
  margin-top: 0px;
}

.aero-parag {
  flex: 3;
}

.aero-img {
  flex: 2;
}

p {
  max-width: 700px;
  font-size: 1em;
}

.container-aero2 {
  margin-top: 75px;
}

.container-aero2 > * {
  flex: 1;
}

.aero-img {
  padding: 10px 0 10px 0;
}

@media (min-width: 700px) {
  h1 {
    font-size: 1.6em;
    text-decoration: underline;
  }

  p {
    font-size: 1.2em;
  }

  .container-aero {
    display: flex;
  }

  .container-aero2 {
    display: flex;
  }

  .aero-img {
    padding: 5px;
  }
}

@media (min-width: 1000px) {
  h1 {
    font-size: 2.5em;
    text-decoration: underline;
  }

  h2 {
    font-size: 1.5em;
  }
}
