main {
  max-width: 1200px;
  margin: 60px auto 75px auto;
}

main h1 {
  font-size: 1.4em;
  text-decoration: underline;
  text-align: center;
  margin: 40px 0 15px 0;
}

main h2 {
  font-size: 1.25em;
  text-align: center;
  margin: 30px 0 15px 0;
}

.aero-parag {
  flex: 3;
  padding: 10px;
}

.aero-img {
  flex: 2;
}

p {
  max-width: 700px;
  font-size: 1em;
}

.container-aero2 {
  margin-top: 75px;
}

.container-aero2 > * {
  flex: 1;
}

.aero-img {
  padding: 10px 0 10px 0;
}

@media (min-width: 700px) {
  main h1 {
    font-size: 1.6em;
    text-decoration: underline;
    text-align: start;
  }

  main h2 {
    text-align: start;
  }

  p {
    font-size: 1.2em;
  }

  .container-aero {
    display: flex;
  }

  .container-aero2 {
    display: flex;
  }

  .aero-parag {
    padding: 0;
  }

  .aero-img {
    padding: 5px;
  }
}

@media (min-width: 1000px) {
  main h1 {
    font-size: 2.5em;
    text-decoration: underline;
  }

  main h2 {
    font-size: 1.5em;
  }
}
