.cosmo-img {
  max-height: 450px;
  object-fit: cover;
}

.binoculars-img {
  border: solid 2px var(--footer-cta-border);
}

h1 {
  text-align: center;
  text-decoration: underline;
}

.cosmo-container {
  margin: 25px 0 75px 0;
}

@media (min-width: 600px) {
  .cosmo-container {
    display: flex;
  }

  .cosmo-paragraph {
    flex: 2;
  }

  .binoculars-box {
    flex: 1;
  }

  p {
    max-width: 600px;
  }
}
