h1 {
  text-decoration: underline;
  text-align: center;
}

.covid-container2 {
  margin: 75px 0;
}

.corona-img1 {
  border: solid 2px var(--footer-cta-border);
}

.corona-img2 {
  max-height: 450px;
  border: solid 2px var(--footer-cta-border);
  object-fit: cover;
}

p {
  max-width: 600px;
}

.contact-link {
  color: blue;
  text-decoration: underline;
  font-weight: bold;
}

@media (min-width: 700px) {
  .covid-container {
    display: flex;
  }

  h1 {
    text-align: start;
    padding-left: 10px;
  }

  .corona-img1 {
    margin-top: 20px;
  }
}

@media (min-width: 900px) {
  .covid-parag {
    flex: 3;
  }

  .covid-img {
    flex: 2;
  }

  h1 {
    padding: 0;
  }
}
