main {
  max-width: 1200px;
  margin: 0 auto;
}

.school-img {
  max-height: 450px;
  object-fit: cover;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

p {
  max-width: 600px;
}

.ecology-container {
  margin: 25px 0 75px 0;
}

.ecology-img {
  border: solid 2px #000;
}

.ecology-paragraph {
  flex: 2;
}

.ecology-box {
  flex: 1;
}

@media (min-width: 600px) {
  .ecology-container {
    display: flex;
  }

  .ecology-img {
    margin-top: 20px;
  }
}

@media (min-width: 900px) {
  .ecology-paragraph {
    flex: 2;
  }

  .ecology-box {
    flex: 1;
  }
}
