main {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  text-decoration: underline;
  text-align: center;
}

p {
  max-width: 600px;
}

.energetica-box1 {
  max-width: 700px;
  flex: 1;
}

.energetica-box2 {
  flex: 1;
}

.energetica-container2 {
  margin: 75px auto 75px auto;
}

.energetica-container2 > * {
  flex: 1;
}

.energy-img {
  padding: 10px 0 10px 0;
}

@media (min-width: 700px) {
  .energetica-container {
    display: flex;
  }

  .energetica-container2 {
    display: flex;
  }

  h1 {
    text-align: start;
    padding-left: 10px;
  }

  .energy-img {
    max-height: 160px;
    padding: 5px;
  }
}

@media (min-width: 1000px) {
  .energetica-box1 {
    max-width: 700px;
    flex: 2;
  }

  h1 {
    margin: 60px 0 40px 0;
    padding: 0;
  }

  .energetica-box2 {
    flex: 1;
  }

  .energy-img {
    max-height: 245px;
  }
}
