main {
  max-width: 1200px;
  margin: auto;
}

main h1 {
  font-size: 1.4em;
  text-decoration: underline;
  margin: 40px 0 15px 0;
  text-align: center;
}

main p {
  font-size: 1em;
  max-width: 600px;
  padding: 10px;
}

.energetica-box1 {
  max-width: 700px;
  flex: 1;
}

.energetica-box2 {
  flex: 1;
}

.energetica-container2 {
  margin: 75px auto 75px auto;
}

.energetica-container2 > * {
  flex: 1;
}

.energy-img {
  padding: 10px 0 10px 0;
}

@media (min-width: 700px) {
  .energetica-container {
    display: flex;
  }

  .energetica-container2 {
    display: flex;
  }

  main h1 {
    font-size: 1.6em;
    text-align: start;
  }

  main p {
    font-size: 1.2em;
    padding: 0;
  }

  .energy-img {
    max-height: 160px;
    padding: 5px;
  }
}

@media (min-width: 1000px) {
  main h1 {
    font-size: 2.5em;
    margin: 60px 0 40px 0;
  }

  .energetica-box1 {
    max-width: 700px;
    flex: 2;
  }

  .energetica-box2 {
    flex: 1;
  }

  .energy-img {
    max-height: 245px;
  }
}
