.dino-img {
  max-height: 450px;
}

.skeleton-img {
  margin-top: 20px;
  border: solid 2px var(--footer-cta-border);
}

h1 {
  text-align: center;
}

p {
  max-width: 600px;
}

.evolution-container {
  margin: 25px 0 75px 0;
}

.evolution-paragraph {
  flex: 2;
}

.evolution-box {
  flex: 1;
}

@media (min-width: 600px) {
  .evolution-container {
    display: flex;
  }

  .skeleton-img {
    margin-top: 20px;
  }
}

@media (min-width: 900px) {
  .evolution-paragraph {
    flex: 2;
  }

  .evolution-box {
    flex: 1;
  }
}
