main {
  background: var(--background-color);
}

h1 {
  margin-top: 0;
  padding-top: 40px;
}

h2 {
  text-align: center;
}

h3 {
  font-size: 1.3em;
  text-decoration: underline;
  text-align: center;
}

.explore-width {
  max-width: 1000px;
  margin: auto;
}

.explore-img1 {
  max-height: 600px;
  object-fit: cover;
}

.explore-container {
  padding-bottom: 75px;
  position: relative;
}

.flex-explore1,
.flex-explore2 {
  flex-direction: column;
  max-height: 200px;
  margin-bottom: 100px;
}

.explore-paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-explore1 p {
  max-width: 350px;
}

.flex-explore2 p {
  max-width: 350px;
}

.text-box {
  margin: 30px auto 30px auto;
}

.cta-learn,
.cta {
  overflow: hidden;
  left: 30%;
}

@media (min-width: 700px) {
  .cta-learn {
    top: 210px;
    left: 85px;
    padding: 10px 40px;
  }

  .explore-container > * {
    flex: 1;
    display: flex;
  }

  .cta-learn {
    padding: 10px 30px;
  }

  .explore-paragraph {
    align-items: start;
  }

  h2,
  h3 {
    text-align: start;
    padding-left: 10px;
  }

  .explore-container {
    display: flex;
    padding-bottom: 75px;
  }
}

@media (min-width: 1000px) {
  .cta-learn {
    top: 275px;
    left: 100px;
  }

  h2,
  h3 {
    padding-left: 0;
  }
}
