main {
  max-width: 1200px;
  margin: auto;
  background: #fff;
}

main h1 {
  text-align: center;
  margin-top: 0;
  padding-top: 20px;
  font-size: 1.4em;
}

main h2 {
  text-align: center;
}

main h3 {
  font-size: 1.3em;
  text-decoration: underline;
  text-align: center;
}

p {
  font-size: 1em;
  padding: 10px;
}

.explore-width {
  max-width: 1000px;
  margin: auto;
}

.explore-img1 {
  max-height: 600px;
  object-fit: cover;
}

.explore-container {
  padding-bottom: 75px;
  position: relative;
}

.flex-explore1,
.flex-explore2 {
  flex-direction: column;
  max-height: 200px;
  margin-bottom: 100px;
}

.explore-paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-explore1 p {
  max-width: 350px;
}

.flex-explore2 p {
  max-width: 350px;
}

.text-box {
  margin: 30px auto 30px auto;
}

.cta-learn,
.cta {
  background: #fdc309;
  color: #000;
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
  border: solid 1px #000;
  border-radius: 10px;
  padding: 5px 10px;
  position: absolute;
  overflow: hidden;
  left: 30%;
}

@media (min-width: 700px) {
  .cta-learn {
    top: 210px;
    left: 85px;
    padding: 10px 40px;
  }

  .explore-container > * {
    flex: 1;
    display: flex;
  }

  .cta-learn {
    padding: 10px 30px;
  }

  .explore-paragraph {
    align-items: start;
  }

  main h1 {
    font-size: 1.6em;
  }

  main h2,
  main h3 {
    text-align: start;
  }

  p {
    font-size: 1.2em;
    padding: 0;
  }

  .explore-container {
    display: flex;
    padding-bottom: 75px;
  }
}

@media (min-width: 1000px) {
  .cta-learn {
    top: 275px;
    left: 100px;
  }

  main h1 {
    font-size: 2.5em;
  }
}
