body {
  margin: 0 auto;
}

.welcome {
  background-image: url(../images/frontpage-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 70vh;
  background-position: center;
  position: relative;
}

.container-width {
  max-width: 1200px;
  margin: 0 auto;
}

.cta-explore {
  background: #fdc309;
  color: #000;
  font-weight: bold;
  font-size: 1.5em;
  text-transform: uppercase;
  border: solid 1px #000;
  border-radius: 10px;
  padding: 8px 30px;
  position: absolute;
  top: 415px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

.cta-learn {
  background: #fdc309;
  color: #000;
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
  border: solid 1px #000;
  border-radius: 10px;
  padding: 5px 10px;
  position: absolute;
  transform: translateX(-50%);
  overflow: hidden;
}

.frontpage-text {
  color: #fff;
  font-family: tangier, sans-serif;
  font-weight: bold;
  font-size: 3.5em;
  margin: auto;
  padding-top: 10px;
  text-align: center;
}

.container-rec {
  max-width: 800px;
  max-height: 300px;
}

.container-rec2,
.container-rec3 {
  margin: 40px 0 40px 0;
}

.h2-rec {
  margin-top: 50px;
  font-size: 1.4em;
  text-align: center;
}

.rec-p {
  min-height: 125px;
  font-size: 1em;
  padding: 10px;
  text-align: center;
}

.rec-p1 {
  background: #fff;
  border: solid 1px #000;
  max-height: 300px;
}

.rec-p2 {
  background: #000;
  border: solid 1px #fff;
  color: #fff;
  max-height: 300px;
}

.rec-p3 {
  background: #718da2;
  border: solid 1px #000;
  max-height: 300px;
}

.front-img {
  max-height: 156px;
  object-fit: fill;
}

.container-news {
  margin: 0 auto 150px auto;
  max-width: 1200px;
}

.news-img {
  max-width: 390px;
  max-height: 260px;
}

.news-img2,
.news-img3 {
  margin: 75px 0 0 0;
}

.news-parag {
  max-width: 390px;
  font-size: 1.2em;
  text-align: center;
  border: solid 1px #000;
}

.news-h2 {
  margin: 50px auto 15px auto;
  max-width: 1200px;
  text-align: center;
}

.cta-news {
  margin-top: 10px;
}

@media (min-width: 700px) {
  .container-rec {
    display: flex;
    max-height: 150px;
  }

  .frontpage-text {
    font-size: 4.5em;
  }

  .container-news {
    display: flex;
    justify-content: center;
  }
  .container-rec {
    display: flex;
    margin: 40px auto;
    max-height: 176px;
  }

  .rec-p {
    font-size: 1.4em;
    text-align: center;
  }

  .front-img {
    max-height: 176px;
    min-width: 410px;
    object-fit: fill;
  }

  .news-img {
    max-height: 171px;
    padding: 5px;
    margin: 0px;
  }

  .news-parag {
    max-width: 260px;
    margin: 5px;
  }

  .news-h2 {
    margin: 100px auto 5px 5px;
  }

  .cta-learn {
    font-size: 0.8em;
    padding: 5px 6px;
    margin-top: 10px;
  }
}

@media (min-width: 1200px) {
  .frontpage-text {
    padding-top: 45px;
    font-size: 10em;
  }

  .container-rec {
    display: flex;
    max-width: 800px;
    max-height: 300px;
    margin: 0px 0 40px 0;
  }

  .front-img {
    min-width: 800px;
    min-height: 300px;
  }

  .cta-explore {
    padding: 12px 60px;
    font-size: 2.2em;
    top: 450px;
  }

  .cta-learn {
    padding: 5px 10px;
    font-size: 1em;
  }

  .welcome {
    min-height: 90vh;
  }

  .rec-p {
    min-width: 400px;
  }

  .container-news {
    display: flex;
    justify-content: space-between;
  }

  .cta-news {
    margin-top: 25px;
  }

  .news-img {
    max-width: 400px;
    max-height: 260px;
    padding: 0px;
    margin: 0px;
  }

  .news-parag {
    max-width: 392px;
    margin: 0px;
  }

  .news-h2 {
    margin: 100px auto 15px auto;
    font-size: 1.6em;
    text-align: start;
  }

  .h2-rec {
    font-size: 1.6em;
    text-align: start;
    margin-bottom: 15px;
  }
}
