body {
  margin: 0 auto;
}

main {
  max-width: none;
}

.welcome {
  background: url(../images/frontpage-img.jpg) center no-repeat;
  background-size: cover;
  min-height: 80vh;
  position: relative;
}

.container-width {
  max-width: 1200px;
  margin: 0 auto;
}

.cta-explore {
  background: var(--color-cta);
  color: var(--footer-cta-border);
  font-weight: bold;
  font-size: 1.5em;
  text-transform: uppercase;
  border: solid 1px var(--footer-cta-border);
  border-radius: 10px;
  padding: 8px 30px;
  position: absolute;
  top: 415px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

.cta-learn {
  transform: translateX(-50%);
  overflow: hidden;
}

.frontpage-text {
  color: var(--background-color);
  font-family: tangier, sans-serif;
  font-weight: bold;
  font-size: 3.5em;
  margin: auto;
  padding-top: 10px;
  text-align: center;
}

.container-rec2,
.container-rec3 {
  margin-top: 60px;
}

.rec-img {
  display: flex;
  flex: 1;
}

.front-img {
  max-height: 162px;
  object-fit: cover;
}

.rec-p {
  flex: 2;
}

.h2-rec {
  margin-top: 50px;
  font-size: 1.4em;
  text-align: center;
}

.rec-p {
  min-height: 150px;
  font-size: 1em;
  padding: 10px;
  text-align: center;
}

.rec-p1 {
  background: var(--background-color);
  border: solid 1px var(--footer-cta-border);
  max-height: 300px;
}

.rec-p2 {
  background: var(--footer-cta-border);
  border: solid 1px var(--background-color);
  color: var(--background-color);
  max-height: 300px;
}

.rec-p3 {
  background: #718da2;
  border: solid 1px var(--footer-cta-border);
  max-height: 300px;
}

.container-news {
  margin: 0 auto 150px auto;
  max-width: 1200px;
}

.news-img {
  max-width: 390px;
  max-height: 260px;
}

.news-img2,
.news-img3 {
  margin: 75px 0 0 0;
}

.news-parag {
  max-width: 390px;
  font-size: 1em;
  border: solid 1px var(--footer-cta-border);
  padding-left: 5px;
}

.news-h2 {
  margin: 50px auto 15px auto;
  max-width: 1200px;
  text-align: center;
}

.cta-news {
  margin-top: 10px;
}

.news-button {
  text-align: center;
  font-size: 1em;
}

@media (min-width: 700px) {
  .container-rec {
    display: flex;
    height: 200px;
  }

  .frontpage-text {
    font-size: 4.5em;
  }

  .front-img {
    max-height: none;
  }

  .container-news {
    display: flex;
    justify-content: center;
  }

  .container-rec {
    display: flex;
  }

  .rec-p {
    font-size: 1.2em;
    text-align: center;
    flex: 1;
  }

  .news-button {
    font-size: 1.2em;
  }

  .news-img {
    max-height: 171px;
    padding: 5px;
    margin: 0px;
  }

  .news-parag {
    max-width: 260px;
    margin: 5px;
  }

  .news-h2 {
    margin: 100px auto 5px 5px;
  }

  .cta-learn {
    font-size: 0.8em;
    padding: 5px 6px;
    margin-top: 10px;
  }
}

@media (min-width: 1200px) {
  .frontpage-text {
    padding-top: 45px;
    font-size: 10em;
  }

  .container-rec {
    display: flex;
  }

  .cta-explore {
    padding: 12px 60px;
    font-size: 2.2em;
    top: 450px;
  }

  .rec-p {
    flex: 2;
    font-size: 1.4em;
  }

  .cta-learn {
    padding: 5px 10px;
  }

  .news-button {
    font-size: 1.4em;
  }

  .welcome {
    min-height: 90vh;
  }

  .container-news {
    display: flex;
    justify-content: space-between;
  }

  .cta-news {
    margin-top: 25px;
  }

  .news-img {
    max-width: 400px;
    max-height: 260px;
    padding: 0px;
    margin: 0px;
  }

  .container-news img:hover {
    opacity: 50%;
  }

  .news-parag {
    max-width: 392px;
    margin: 0px;
    font-size: 1.2em;
  }

  .news-h2 {
    margin: 100px auto 15px auto;
    font-size: 1.6em;
    text-align: start;
  }

  .h2-rec {
    font-size: 1.6em;
    text-align: start;
    margin-bottom: 15px;
  }
}
