main {
  max-width: 1200px;
  margin: 0 auto;
}

.container-kid {
  max-width: 1200px;
  margin: 0 auto;
}

.teacher-img {
  float: right;
}

.kids-img {
  max-height: 432px;
}

.p-kids {
  font-size: 1.2em;
}

.flex-kids {
  display: flex;
  margin: 15px auto 50px;
}

main h1 {
  margin: 40px auto 5px auto;
  font-size: 1.6em;
}

@media (min-width: 900px) {
  .teacher-img {
    max-width: 76%;
    max-height: 85%;
  }

  .teacher-box {
    display: flex;
    justify-content: end;
  }

  main h1 {
    font-size: 2.4em;
  }
}
