main {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

p {
  font-size: 1em;
  padding: 10px;
}

.kids-img {
  max-height: 450px;
  object-fit: cover;
}

.p-kids {
  margin: 25px 0px 85px 0px;
  flex: 1;
}

.p-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-box {
  flex: 1;
}

main h1 {
  margin: 40px 0 15px 0;
  font-size: 1.4em;
  text-align: center;
  text-decoration: underline;
}

main h2 {
  text-align: center;
  text-decoration: underline;
  font-size: 1.3em;
}

.cta-contact {
  background: #fdc309;
  color: #000;
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
  border: solid 1px #000;
  border-radius: 10px;
  padding: 5px 10px;
  position: absolute;
  left: 180px;
  transform: translateX(-50%);
  overflow: hidden;
  margin-top: 5px;
}

.kids-box3 {
  margin: 25px 0 75px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-kids2 {
  flex: 1;
}

.p-kids2 p {
  margin-top: 0px;
}

.learning-img {
  flex: 1;
}

.kids2-img {
  max-width: 420px;
  padding: 5px;
}

@media (min-width: 700px) {
  p {
    max-width: 600px;
    font-size: 1.2em;
  }

  .p-kids {
    margin-bottom: 150px;
  }

  .p-flex {
    display: block;
    align-items: start;
  }

  .kids2-img {
    float: right;
  }

  .teacher-img {
    margin-top: 50px;
  }

  .kids-box2 {
    display: flex;
  }

  .kids-box3 {
    display: flex;
    flex-direction: row;
    align-items: start;
  }

  main h1 {
    font-size: 1.6em;
  }

  main h2 {
    font-size: 1.5em;
  }
}

@media (min-width: 900px) {
  main h1 {
    font-size: 2.5em;
    margin: 60px 0 15px 0;
  }

  p {
    padding: 0px;
  }

  main h2 {
    text-align: start;
  }

  .kids-img {
    margin-bottom: 20px;
  }

  .teacher-img {
    margin-top: 20px;
  }

  .p-kids {
    margin: 0 0 100px 0;
  }

  .cta-contact {
    margin-top: 5px;
    left: 300px;
  }

  .kids-box2 {
    padding: 0;
  }

  .p-kids {
    flex: 2;
  }
}
