@import "imports/variables.css";

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #edeff0;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px;
  min-height: 100vh;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

h1,
h2,
h3,
nav,
.text-header,
.cta,
.cta-signup,
.cta-exhibition {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p,
table,
form {
  font-family: rockwell, sans-serif;
}

h1 {
  font-size: 1.4em;
  margin: 40px 0 15px 0;
  text-align: center;
  text-decoration: underline;
}

.p-media {
  font-size: 1em;
  padding: 0 10px;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

header {
  background: linear-gradient(to right, #000, #545454);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-header {
  font-size: 0.9em;
}

.logo-header {
  display: flex;
  align-items: center;
}

hr {
  border: 1px solid var(--footer-cta-border);
}

.logo {
  width: 60px;
  padding: 5px;
}

.cta-learn {
  background: var(--color-cta);
  color: var(--footer-cta-border);
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
  border: solid 1px var(--footer-cta-border);
  border-radius: 10px;
  padding: 5px 10px;
  position: absolute;
}

.cta:before {
  content: "";
  padding: 10px;
  background: var(--background-color);
  transform: rotate(45deg);
  position: absolute;
  height: 125px;
  top: -30px;
  left: -105px;
  transition: left ease-in-out 1s;
  opacity: 0.2;
}

.cta:hover:before {
  left: 115%;
}

/* NAV */

nav {
  display: none;
  position: fixed;
  background: linear-gradient(to right, #000, #545454);
  top: 66px;
  z-index: 1000;
  right: 0;
}

.current {
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.4em;
}

#hamburger-menu {
  display: none;
}

.icon-burger {
  color: var(--background-color);
  margin-right: 15px;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

nav ul {
  padding: 0px;
}

nav li {
  display: block;
  padding: 8px 30px;
}

nav a {
  color: #edeff0;
  font-size: 1em;
}

nav a:hover {
  text-decoration: underline;
  font-weight: bold;
}

.text-header {
  color: var(--background-color);
  font-weight: bold;
}

/* Footer */

footer {
  min-height: 20vh;
  background: #b4b4b4;
}

.container-footer1 {
  display: flex;
  width: 80%;
  margin: auto;
  padding-top: 10px;
  flex-direction: column;
  text-align: center;
}

.footer-links {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

footer a {
  color: var(--footer-cta-border);
  margin: 2px;
  padding: 5px;
  font-size: 0.9em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

footer a:hover {
  text-decoration: underline;
  color: var(--background-color);
}

.container-footer2 {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 10px auto auto auto;
}

footer i {
  font-size: 2.5em;
  padding: 20px;
}

@media (min-width: 700px) {
  .text-header {
    font-size: 1.2em;
  }

  h1 {
    font-size: 1.6em;
  }

  footer a {
    margin: 8px;
    font-size: 1em;
  }

  footer i {
    font-size: 3em;
  }

  .footer-links {
    margin: 0;
  }

  .container-footer1,
  .container-footer2 {
    width: 80%;
  }

  .container-footer1 {
    justify-content: space-between;
    flex-direction: row;
    text-align: start;
  }
}

@media (min-width: 900px) {
  h1 {
    font-size: 2.5em;
  }

  .p-media {
    font-size: 1.2em;
    padding: 0;
  }
}

@media (min-width: 1300px) {
  nav li {
    display: inline-block;
  }

  nav a {
    font-size: 1.2em;
  }

  nav {
    display: block;
    position: static;
    background: 0;
  }

  header label {
    display: none;
  }

  .text-header {
    font-size: 1.6em;
    margin-left: 5px;
  }

  .logo {
    width: 80px;
  }

  .container-footer1 {
    max-width: 1200px;
  }
}
