main h2 {
  font-size: 1.2em;
  text-align: center;
}

.visit-img {
  max-height: 450px;
  object-fit: cover;
}

.visit-h1 {
  text-align: center;
  text-decoration: underline;
}

.visit-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin: 20px 0 75px 0;
  gap: 20px;
}

.grid-item {
  max-width: 250px;
}

.section-grid {
  background: var(--background-color);
  display: grid;
  justify-content: space-evenly;
}

.grid-item,
.section-grid {
  animation-name: show-items;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  opacity: 0s;
}

@keyframes show-items {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 600px) {
  .visit-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 75px;
  }

  main h2 {
    font-size: 1.5em;
    text-align: start;
  }
}

@media (min-width: 800px) {
  .visit-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 100px;
  }
}
